@media (max-width: 600px) {
    body {
        background-color: red;
    }
}

.flex-content {
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
